#appointment {
    width: 800px;
    padding: 20px;
    background-color: #2d2c2cbd;
    color: white;
    border-radius: 5px;
  .row-center {
    justify-content: center;
  }
  .fa .fa-times-circle:hover {
    background-color: red;
  }

  //new (for radius)
  .form-control {
    border-radius: 15px;
  }
  .ant-select-selection--single {
    border-radius: 20px !important;
    padding-left: 10px;
  }
  .custom-file-upload {
    border-radius: 15px;
  }
  .ant-btn {
    border-radius: 15px;
  }

  ::placeholder {
    opacity: 0.5!important;
  }
  .k-input, .k-i-calendar {
    color: white!important;
  }
  .k-picker-wrap.k-state-default{
    border-color: white;
  }
}
