#manageRole {
  min-height: 100vh;
  /**
    Content
    */
  min-height: 100%;
  
  .editForm {
    padding-top: 10px;
  }
  .required {
    color: red;
  }
  input[type=checkbox] {
    cursor: pointer;
    
  }
}
