#sales {
  // background: url("../../assets/images/background.jpg")no-repeat center center fixed;
  
  .salesTable {
    .ant-table-wrapper{
      width: 100%;
    }
    .ant-table-placeholder {
      height: 560px;
    }
  }
  .firstCol {
    width: 60%;
  }
  .secondCol {
    width: 20%;
    text-align: right;
  }
  .thirdCol {
    width: 20%;
  }
  .table-responsive-md {
    width: 100%;
    height: 100%;
  }
  .table {
    margin-bottom: 0;
  }
  .bottomButton {
    .ant-btn-group {
      height: 40px;
      button {
        height: 100%;
        font-size: 18px;
      }
    }
  }

}

.dialogContent {
  width: 800px;
  height: 800px;
  justify-content: 'center'!important;
}
.MuiDialog-paperWidthSm {
  max-width: 800px!important;
}

.title {
  text-align: right;
  justify-content: center;
  justify-items: flex-end;
}